# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("Resources/applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

# TA (Aarti) said it was ok.

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]], encoded_df], axis=1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns="IS_SUCCESSFUL")

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + number_output_neurons)/2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58.5

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons)/2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29.75

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim= number_input_features, activation="relu"))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Fit the model using 50 epochs and the training data
deep_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 1.1318 - accuracy: 0.6942
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3031 - accuracy: 0.6950
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9511 - accuracy: 0.7163
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9094 - accuracy: 0.7136
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7761 - accuracy: 0.7288
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7778 - accuracy: 0.7276
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7922 - accuracy: 0.7206
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7556 - accuracy: 0.7254
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7615 - accuracy: 0.7264
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7537 - accuracy: 0.7309
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7687 - accuracy: 0.7229
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7381 - accuracy: 0.7298
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7394 - accuracy: 0.7192
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7334 - accuracy: 0.7265
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7220 - accuracy: 0.7243
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7176 - accuracy: 0.7304
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7640 - accuracy: 0.7215
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7083 - accuracy: 0.7215
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7184 - accuracy: 0.7241
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7077 - accuracy: 0.7259
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6964 - accuracy: 0.7296
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6996 - accuracy: 0.7289
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6927 - accuracy: 0.7292
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7136 - accuracy: 0.7266
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6982 - accuracy: 0.7234
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7020 - accuracy: 0.7273
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6984 - accuracy: 0.7292
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7099 - accuracy: 0.7301
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6767 - accuracy: 0.7252
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6642 - accuracy: 0.7322
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6597 - accuracy: 0.7327
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6715 - accuracy: 0.7341
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6767 - accuracy: 0.7297
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6792 - accuracy: 0.7215
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6563 - accuracy: 0.7228
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6595 - accuracy: 0.7309
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6503 - accuracy: 0.7292
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6329 - accuracy: 0.7328
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6444 - accuracy: 0.7338
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6453 - accuracy: 0.7310
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6348 - accuracy: 0.7229
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6214 - accuracy: 0.7340
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6166 - accuracy: 0.7269
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6238 - accuracy: 0.7282
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6259 - accuracy: 0.7303
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6280 - accuracy: 0.7322
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5990 - accuracy: 0.7255
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5955 - accuracy: 0.7321
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5963 - accuracy: 0.7343
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5905 - accuracy: 0.7319

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6000 - accuracy: 0.7271 - 631ms/epoch - 2ms/step
Loss: 0.5999743938446045, Accuracy: 0.7271137237548828

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path("Resources/venture_funding_with_deep_learning.ipynb")

# Export your model to a HDF5 file
nn.save(file_path)

INFO:tensorflow:Assets written to: Resources\venture_funding_with_deep_learning.ipynb\assets

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = ((number_input_features + number_output_neurons_A1)/2) - 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

56.5

In [30]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [31]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim= number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 56)                6552

 dense_4 (Dense)             (None, 1)                 57

=================================================================
Total params: 6,609
Trainable params: 6,609
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [33]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 1.5386 - accuracy: 0.6585
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 1.7315 - accuracy: 0.6724
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5102 - accuracy: 0.6790
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 2.1304 - accuracy: 0.6298
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 2.3195 - accuracy: 0.6276
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 2.1570 - accuracy: 0.6678
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 1.9859 - accuracy: 0.6760
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7552 - accuracy: 0.6761
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7341 - accuracy: 0.6921
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7528 - accuracy: 0.6840
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4241 - accuracy: 0.6872
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2740 - accuracy: 0.7018
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4561 - accuracy: 0.6903
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5266 - accuracy: 0.6930
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7874 - accuracy: 0.6668
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2434 - accuracy: 0.7048
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1196 - accuracy: 0.7148
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0154 - accuracy: 0.7114
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0093 - accuracy: 0.7140
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0150 - accuracy: 0.7201
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2240 - accuracy: 0.7080
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 1.2585 - accuracy: 0.7044
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0481 - accuracy: 0.7117
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4029 - accuracy: 0.6790
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 1.3454 - accuracy: 0.6956
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 1.6243 - accuracy: 0.6876
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 1.4147 - accuracy: 0.6950
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3431 - accuracy: 0.7034
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 1.3392 - accuracy: 0.6991
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3338 - accuracy: 0.7048
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 1.4592 - accuracy: 0.6930
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 1.3953 - accuracy: 0.6936
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3472 - accuracy: 0.7044
Epoch 34/50
804/804 [==============================] - 5s 6ms/step - loss: 1.5392 - accuracy: 0.6856
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 1.3266 - accuracy: 0.6906
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 1.3427 - accuracy: 0.6928
Epoch 37/50
804/804 [==============================] - 4s 5ms/step - loss: 1.2842 - accuracy: 0.7011
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 1.2307 - accuracy: 0.7052
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 1.2555 - accuracy: 0.7018
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 1.2647 - accuracy: 0.7059
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 1.2613 - accuracy: 0.7063
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 1.2783 - accuracy: 0.6992
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0232 - accuracy: 0.7184
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 1.7150 - accuracy: 0.7048
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 1.2823 - accuracy: 0.6955
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0383 - accuracy: 0.7143
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0867 - accuracy: 0.7168
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0727 - accuracy: 0.7178
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0041 - accuracy: 0.7257
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9970 - accuracy: 0.7282

#### Alternative Model 2

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 8

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

8

In [37]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [38]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim= number_input_features, activation="relu"))

nn_A2.add(Dense(units=5, activation="relu"))

nn_A2.add(Dense(units=2, activation="relu"))
          

# Output layer
nn_A2.add(Dense(units=1, activation="relu"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 8)                 936

 dense_6 (Dense)             (None, 5)                 45

 dense_7 (Dense)             (None, 2)                 12

 dense_8 (Dense)             (None, 1)                 3

=================================================================
Total params: 996
Trainable params: 996
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [40]:
# Fit the model
Model_2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0488 - accuracy: 0.5685
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6401 - accuracy: 0.7156
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6041 - accuracy: 0.7242
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5959 - accuracy: 0.7249
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5910 - accuracy: 0.7273
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5861 - accuracy: 0.7263
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5810 - accuracy: 0.7290
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5798 - accuracy: 0.7283
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5856 - accuracy: 0.7282
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5783 - accuracy: 0.7287
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5790 - accuracy: 0.7284
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5813 - accuracy: 0.7281
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5705 - accuracy: 0.7291
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5756 - accuracy: 0.7234
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5730 - accuracy: 0.7303
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5690 - accuracy: 0.7301
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5694 - accuracy: 0.7316
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5692 - accuracy: 0.7306
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5689 - accuracy: 0.7312
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5749 - accuracy: 0.7291
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5669 - accuracy: 0.7317
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5663 - accuracy: 0.7311
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5675 - accuracy: 0.7326
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5686 - accuracy: 0.7307
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5626 - accuracy: 0.7313
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5638 - accuracy: 0.7315
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5690 - accuracy: 0.7322
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5623 - accuracy: 0.7317
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5645 - accuracy: 0.7318
Epoch 30/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5660 - accuracy: 0.7330
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5626 - accuracy: 0.7326
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5679 - accuracy: 0.7277
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7321
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7315
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5526 - accuracy: 0.7325
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5524 - accuracy: 0.7338
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5539 - accuracy: 0.7327
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5568 - accuracy: 0.7332
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5557 - accuracy: 0.7332
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5620 - accuracy: 0.7331
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7346
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7336
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7340
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7334
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7335
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7332
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7326
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5534 - accuracy: 0.7330
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5529 - accuracy: 0.7336
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5530 - accuracy: 0.7341

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [41]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6000 - accuracy: 0.7271 - 371ms/epoch - 1ms/step
Loss: 0.5999743938446045, Accuracy: 0.7271137237548828

In [42]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 1.0618 - accuracy: 0.7248 - 520ms/epoch - 2ms/step
Loss: 1.061826229095459, Accuracy: 0.724781334400177

In [43]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5723 - accuracy: 0.7314 - 492ms/epoch - 2ms/step
Loss: 0.5722662806510925, Accuracy: 0.7314285635948181

### Step 3: Save each of your alternative models as an HDF5 file.

In [44]:
# Set the file path for the first alternative model
file_path = Path("Resources/venture_funding_with_deep_learning.ipynb")

# Export your model to a HDF5 file
nn_A1.save(file_path)

INFO:tensorflow:Assets written to: Resources\venture_funding_with_deep_learning.ipynb\assets

In [45]:
# Set the file path for the second alternative model
file_path = Path("Resources/venture_funding_with_deep_learning.ipynb")

# Export your model to a HDF5 file
nn_A2.save(file_path)

INFO:tensorflow:Assets written to: Resources\venture_funding_with_deep_learning.ipynb\assets